.icon_footer{
    font-size: 28px !important;
}

.footer_clr{
    color: #A39DA0 !important;
}

.footer_text{
    font-weight: 300;
    line-height: 1.2;
    font-size: 20px !important;
}
.soical_footer_icons{
    color: #c7bef3;
    font-size: 28px !important;
}