.end_canvas {
    float: right !important;
    background-color: transparent !important;
    /* background: linear-gradient(#181652,#181652) padding-box,linear-gradient(45deg,#89d2f3,#a67cff) border-box!important; */
    border: 2px solid #fff !important;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Signika Negative', sans-serif;
    font-size: 18px !important;
    border-radius: 8px !important;

    backdrop-filter: blur(4px) !important;
}

.icon_canvas {
    font-weight: 600 !important;
    font-size: 22px !important;
}

.canvas_back {
    background-color: rgba(170, 48, 142, 0.089) !important;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    /* background-color: #1b1848f7 !important; */
}

.small_Status {
    font-size: 13px !important;
    text-align: start !important;
    color: white !important;
}

.dis_small {
    background: rgba(250, 246, 250, 0.425);
    color: rgba(146, 2, 2, 0.849) !important;
    font-size: 13px !important;
    font-weight: 700 !important;
    width: fit-content !important;
}

.mata_mask {

    border: 1px solid rgb(75, 81, 159);
    font-size: 16px !important;
    font-weight: 600 !important;
    color: white !important;
    padding: 14px 6px 14px 6px;
    background-color: rgba(170, 48, 142, 0.089) !important;
    border-radius: 8px !important;
}

.mata_mask:hover {
    background-color: transparent !important;



}

.popular_text {

    font-size: 12px !important;
    font-weight: 600 !important;
    background: rgba(154, 230, 180, 0.16);
    color: #9ae6b4;
    width: max-content !important;
}